* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background: none;
    border: none;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: bisque;
    text-align: center;
}

.heading {
    margin-block: 2rem;
}

.list {
    font-size: 1.5rem;
    font-weight: 700;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.list-item {
    color:rgb(31, 10, 124);
    opacity: 0.7;
    width: fit-content;
}

.list-item:hover {
    cursor: pointer;
    opacity: 1;
}

.done {
    text-decoration: line-through;
    color: rgb(48, 48, 48);
    opacity: 0.5;
}

.form-wrapper {
    position: fixed;
    bottom: 3rem;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.form {
    display: flex;
    align-items: center;
} 

.form-input,
.form-button {
    padding: 0.5rem;
    height: 2rem;
    border: 3px solid rgb(31, 10, 124);
}

.form-input {
    width: 300px;
    border-right: none;
}

.form-button:hover {
    cursor: pointer;
    background-color: rgb(31, 10, 124);
    color: bisque;
}

a.delete {
    text-decoration: none;
    font-size: 1rem;
    color: red;
}

a.delete:hover {
    text-decoration: underline;
}